/*cheat*/
/*div {
	border: 0.3px solid #fed;
}
ul {
	border: 0.3px solid #fed;
}

/*global*/
.container  {}
body {
	font-family: 'Lato', sans-serif;
}
ul {
	list-style: none;
}

li {
	display: inline-block;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	transition: 0.5s;
}
a:visited {
	text-decoration: inherit;
	color: inherit;
}

/*top-bar*/
.top-bar-section {
	background-color: #414042;
}

.top-bar-section ul {
	text-align: right;
	margin: 10px 0px;
	padding: 0px;
}

.top-bar-section li {
	color: #cccccd;
	font-size: 15px;
	font-weight: 600;
	margin-right: 20px;
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.top-bar-section li:last-child {
	margin: 0px;
}

/*static-navbar*/
.static-nav {
	margin-top: 30px;
}
.menu ul {
	float: right;
}
.menu ul li {
	text-transform: uppercase;
	font-weight: 600;
	margin-right: 30px;
}
.menu ul li:last-child {
	margin-right: 0px
}

/*main-body*/
.main-body {
	margin-top: 110px;
}
.main-header {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 600;
}
.main-bg img {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #888;
	margin-top: 70px;
}

/*last-body*/
.last-body {
	position: relative;
	margin-top: 70px;
}
.last-header {
	font-size: 28px;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
}
.add-header {
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
}
.email {
	color: #333;
	font-weight: 600;
	text-transform: lowercase;
}
.her-header {
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
}
.user input {
	border: 1px solid #e3e3e3;
	text-indent: 10px;
	border-radius: 3px;
	width: 100%;
	height: 40px;
}
.user input:placeholder-shown {
	color: #e3e3e3;
	font-size: 12px;
	text-indent: 10px;
	text-transform: capitalize;
}
.message {
	margin: 10px 0px;
}
.message input {
	height: 265px;
}
.button button {
	color: #414042;
	width: 100px;
	height: 45px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 500;
	background-color: #eadcc0;
	border: none; 
	border-radius: 3px;
}

/*footer*/
.main-footer {
	position: relative;
	z-index: 5;
	background-color: #414042;
	padding: 70px 0px 35px 0px;
}
.footer-header {
	color: #eadcc0;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
}
p {
	font-size: 12px;
	text-transform: capitalize;
	color: #8b8c8f;
}
.main-footer hr {
	margin: -10px 0px -5px 0px;
	padding: inherit; 
}
.main-footer input {
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	border-radius: 3px;
	width: 100%;
	height: 40px;
	margin: 20px 0px;
	color: #fff;
	text-indent: 10px;
}
.main-footer input:placeholder-shown {
	text-indent: 10px;
	text-transform: capitalize;
	font-style: italic;
	font-size: 12px;
}

.main-footer button {
	width: 75px;
	height: 30px;
	color: #414042;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 3px;
	border: none;
	background-color: #eadcc0;

}
.second-footer {
	background-color: #232323;
	padding: 35px 0px;

}
.credit-section {
	color: #8b8c8f;
	text-transform: capitalize;
}
.credit {
	text-align: right;
}
.special-color {
	color: #fff;
	font-weight: 600;
	text-transform: inherit;
}